.Movie_summary {
    position: relative;
    /* background-image: url('./70ebbb90317477.5e291ea97163e.jpg'); */
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10%);

}

.Movie_summary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.799);
    z-index: 1;
}