#root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
  height: 100%;
}
body{
  background-color: black;
  

}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */}